@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

/* ::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #276690;
}

::-webkit-scrollbar-thumb {
    background: #0086e5;
    height: 100px;
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background: #008e68;
} */

::-webkit-scrollbar {
    width: 0;
}

html,
body {
    margin: 0;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/Screenshot\ from\ 2024-05-06\ 22-52-58.png");
    color: #fff;
    font-size: 16px;
    font-family: 'Fira Code';
    position: relative;
    user-select: none;
    scroll-behavior: smooth;
}

section {
    background-color: rgba(34, 88, 117);
    margin: 20px;
    padding: 20px;
    border-radius: 16px;
}

main {
    max-width: 50%;
    align-self: center;
    word-wrap: break-word;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

code {
    color: #1cafff;
    font-family: 'Fira Code';
    user-select: text;
}

.language-undefined,
.language-cpp {
    outline: 2px solid #1cafff;
    box-shadow: 0 0 10px 0 #fff;
}

h1[id] {
    color: #afe3ff;
}

a {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border-radius: 3px;
}

.btn {
    text-align: center;
    display: block;
    width: 100px;
    text-decoration: none;
    background-color: #6ec5d2;
    color: #0e1c17;
    font-size: 26px;
    border-radius: 12px;
    padding: 15px;
    margin: 10px;
    transition: all 0.5s;
    transform: translateY(0) scale(1);
}

.btn:hover {
    background-color: #6fc9a2;
    color: #fff;
    transform: translateY(-5px) scale(1.1);
    box-shadow: 5px 5px 10px 0;
}

.btn:focus {
    outline: none;
    border: none;
}

header {
    position: sticky;
    top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #0e1c17;
    margin: 20px;
    padding: 20px;
    border-radius: 16px;
    background-color: rgba(34, 88, 117, 0.33);
    backdrop-filter: blur(6px);
    z-index: 10;
}

header h1 {
    height: 100%;
    background-color: #6ec5d2;
    padding: 25px;
    border-radius: 8px;
}

#btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    background-color: #008e68;
    padding: 25px;
    width: max-content;
    height: 100%;
    border-radius: 8px;
}

.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}

.stt {
    display: flex;
    justify-content: center;
    align-items: end;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 100px;
    height: 100px;
    transform: translateY(500%);
    border: none;
    border-radius: 50%;
    background-color: rgba(34, 88, 117);
    color: #fff;
    font-size: 50px;
    cursor: pointer;
    transition: all 0.4s;
    opacity: 0;
}

.stt:hover {
    background-color: #fff;
    color: #276690;
}

.stt:active {
    background-color: rgb(109, 109, 109);
}

.stt.active {
    transform: translateY(0);
    opacity: 1;
}

#progress-bar {
    --progress: 0;
    position: fixed;
    top: 0;
    width: var(--progress);
    height: 10px;
    background: linear-gradient(to left, magenta, orange);
    z-index: 5;
}