@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #276690;
}

::-webkit-scrollbar-thumb {
    background: #0086e5;
    height: 100px;
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background: #008e68;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #051f2d;
    color: #fff;
    font-size: 16px;
    font-family: 'Fira Code';
    position: relative;
    user-select: none;
    scroll-behavior: smooth;
}

main {
    max-width: 50%;
    align-self: center;
    word-wrap: break-word;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}


code {
    color: #1cafff;
    font-family: 'Fira Code';
    user-select: text;
}

.language-undefined,
.language-python {
    outline: 2px solid #1cafff;
    box-shadow: 0 0 10px 0 #fff;
}

h1[id] {
    color: #afe3ff;
}


a {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border-radius: 3px;
}

.btn {
    text-align: center;
    display: block;
    width: 100px;
    text-decoration: none;
    background-color: #6ec5d2;
    color: #0e1c17;
    font-size: 26px;
    border-radius: 12px;
    padding: 15px;
    margin: 10px;
    transition: all 0.5s;
    transform: translateY(0) scale(1);
}

.btn:hover {
    background-color: #6fc9a2;
    color: #fff;
    transform: translateY(-5px) scale(1.1);
    box-shadow: 5px 5px 10px 0;
}

.btn:focus {
    outline: none;
    border: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #0e1c17;
    margin: 20px;
    padding: 20px;
    border-radius: 16px;
    background-color: #173c57;
}

header h1 {
    height: 100%;
    background-color: #6ec5d2;
    padding: 25px;
    border-radius: 8px;
}

#btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    background-color: #008e68;
    padding: 25px;
    width: max-content;
    height: 100%;
    border-radius: 8px;
}